*, *::before, *::after{
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #f4f9f4;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* ------------------------------------
* header
* ----------------------------------- */
.header{
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 2rem;
    line-height: 80px;
    margin-bottom: 100px;
    background: #009f9d;
}
.site-title a{
    color: #fff;
    text-decoration: none;
}

/* -------------------------------------
* toppage
* ------------------------------------ */
.navi{
    text-align: center;
    font-size: 1rem;
}
.description{
    margin-bottom: 20px;
}
.desc-sub{
    margin-bottom: 40px;
}
.list{
    background: #5c8d89;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.list a{
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}
.list a:hover{
    text-decoration: underline;
}

/* -------------------------------------
* questions
* ------------------------------------ */
.questions{
    margin: 0 auto;
    width: 400px;
    padding-top: 60px;
    overflow: hidden;
}
.wrap{
    width: 2400px;
}
.questions-box{
    width: 400px;
    text-align: center;
    float: left;
}
.questions-area{
    height: 100px auto;
    padding: 40px 20px;
    font-size: 1.4rem;
    list-style-type: none;
    background: #74b49b;
    font-weight: bold;
    border-radius: 40px 0;
}
.counter{
    margin-top: 40px;
    font-size: 1.2rem;
}
.counter{
    font-family: 'IBM Plex Sans', sans-serif;
    background:  #74b49b;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
    color: #fff;
    width: 20%;
    border-radius: 50%;
}
.btn{
    background: #07456f;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px;
    display: block;
    width: 100px;
    font-weight: bold;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 30px;
    color: #fff;
}
.btn a{
    color: #fff;
    text-decoration: none;
}
.ok,
.next,
.end{
    display: none;
}
.start{
    font-size: 1.2rem;
    padding: 20px;
    width: 50%;
    margin-top: 70px;
    margin-bottom: 200px;
}
.btn:hover{
    opacity: .7;
}

.footer{
    margin-top: auto;
    height: 60px;
    font-size: 1.1rem;
    text-align: center;
    color: #fff;
    line-height: 60px;
    background: #009f9c8a;
}
.wait{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
}